*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	background-color: yellow;
}

body {
	/* background-color: #7B68EE; */
	background-image: url(https://w.wallhaven.cc/full/rd/wallhaven-rddgwm.jpg);
	width: 800;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

table {
	
}

#product-name td {
	text-align: center;
}

h1 {
	align-self: center;
	color: white;
	margin: 0px;
	width: inherit;
	text-align: center;
	letter-spacing: 2px;
	padding: 10px 5px;
	border-left: 2px solid white;
}

.product-panel h2 {
	color: black;
	margin: 10px;
	text-align: center;
	letter-spacing: 2px;
}
.product-panel {
	background-color: blue;
	width: 80%;
	position: center;
}
.product-card {
	display: inline-block;
	margin: 10px;
	padding: 20px;
	background-color: pink;
	border-radius: 5px;
}

.product-card p {
	text-align: center;
	font-size: 1.5em;
}

p, li {
	color: white;
	line-height: 2;
	letter-spacing: 1px;

	/* text-align: center; */
	margin: 0 auto;
}

ol {
	text-align: center;
	list-style-position: inside;
}

a[href] {
	color: green;

}

a:hover {
	color: white;
}
